.jogadores-content {
  background-color: teal;
  text-align: center;
}

.jogadores-content nav {
  background-color: chocolate;
}

.jogadores-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.jogadores-content li {
  list-style: none;
}

.jogadores-content a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: blue;
  padding: 10px 20px;
  margin: 10px;
}

.jogadores-content h1 {
  padding: 10px;
}

img {
  display: block;
  max-height: 100%;
  margin: auto;
}

.img {
  background-color: #979797;
  width: 300px;
  height: 400px;
  margin: auto;
}

.button {
  /* background-color: pink; */
  display: flex;
  padding: 20px;
}
.button h2 {
  padding: 10px;
}

button {
  display: block;
  padding: 10px 20px;
  border: none;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

.jogadores-content button:hover {
  background-color: #d7d7d7;
}
