.footer-content {
  background-color: #030f22;
  color: #f7f7f7;
  text-align: center;
  display: grid;
}

.copy {
  padding: 20px;
}

.copy p {
  padding: 10px;
}

.footer-content ul {
  list-style: none;
  padding: 0px;
}

.footer-content a {
  color: yellowgreen;
  text-decoration: none;
}
